$main: #5656FF;
$main-hover: #7A7AFF;
$main-active: #BFBFFF;

$black: #0F0F1A;
$gray-dark: #53535E;
$gray: #9A9AA0;
$gray-light: #C5C5C9;
$gray-light-2: #E0E0E5;
$gray-bg: #F5F5F7;

$green100: #E4FFF6;

$red100: #FFF4F4;
$red900: #FF0000;