html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'raleway-medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  transition: all 0.5s;
  padding: 0px;
}

i{
  flex-shrink: 0;
  line-height: 50%;
  display: inline-block;
  &::before{
    transition: all 0.3s;
  }
}


//======================= containers, blocks ============================//

.g-block{
  border-radius: 16px;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.08);
  padding: 32px 40px;
  background-color: #fff;
  position: relative;
}

.g-page-container {
  padding-top: 60px;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0px 40px;
  margin: 0px auto;
}


//==========================typography==================================//

.g-main-title {
  font-size: 32px;
  line-height: 125%;
  text-align: center;
}

.g-text-gray{
  color: $gray;
}

.g-text-darkgray{
  color: $gray-dark;
}

.g-text-semibold{
  font-family: 'raleway-semibold';
  line-height: 150%;
}

.g-text-fs-12{
  font-size: 12px;
}

.g-text-fs-14{
  font-size: 14px;
  line-height: 143%;
}

.g-text-fs-32{
  font-size: 32px;
}

.color-main{
  color: $main;
}

.unselectable{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}



//=====================grid systems=================//

.dg{
  display: grid;
}

.rg-6{
  row-gap: 6px;
}

.rg-8{
  row-gap: 8px;
}

.rg-12{
  row-gap: 12px;
}

.rg-16{
  row-gap: 16px;
}

.rg-20{
  row-gap: 20px;
}

.rg-24{
  row-gap: 24px;
}

.rg-32{
  row-gap: 32px;
}

.rg-40{
  row-gap: 40px;
}

.rg-48{
  row-gap: 48px;
}

//========Margins=======//

.mb-58 {
  margin-bottom: 58px;
}


.mb-42 {
  margin-bottom: 42px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-2 {
  margin-bottom: 2px;
}
