@media screen and (max-width: 1100px) {
  .roadMap__Block {
    display: none;
  }

  .imgContent {
    overflow-x: scroll;
  }

  .treeSteps1 {
    display: none;
  }

  .treeSteps2 {
    display: none;
  }

  .statisticList {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 890px) {
  .buildTrajectory {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 675px) {
  .menu {
    display: none;
  }
  .mainTitle-mobile {
    margin-top: 55px !important;
  }

  .classVectorLeft {
    display: none;
  }

  .classVectorRight {
    display: none;
  }

  .header {
    margin: 0 auto;
    position: fixed;
    width: 95%;
    top: 0;
    left: 0;
    padding: 12px 13px;
    background-color: #ffffff;
    z-index: 10;

    .hamburger-menu {
      display: flex;
    }

    .blockLogo {
      display: flex;
      align-items: center;
    }

    .logo {
      margin-left: 25px;
    }

  }


  .mainTrajectory {
    flex-direction: column;
    padding: 8px;

    .mainTrajectory__start {
      margin-bottom: 15px;
    }

    .mainTrajectory__review {
      display: flex;
      background-color: #fff;
      border-radius: 100px;
      border: 1px solid #E4F2FF;
      padding: 8px 10px;
      justify-content: space-between;
    }
  }
  .trajectoryBlock__imgMain {
    width: 100%;
  }

  .trajectoryYear-rebirth {
    display: none;
  }

  .trajectoryYear-peak {
    display: none;
  }

  .statisticList {
    flex-direction: column;
    align-items: center;
  }

  .statisticItem__block {
    margin-right: 0;
    margin-top: -30px;
    width: 0 !important;
    height: 0 !important;
    max-width: 400px !important;
    min-width: 270px !important;
    max-height: 400px !important;
    min-height: 270px !important;
  }

  .statisticItem {
    border-right: 0 !important;
    //border-bottom: 1px solid #E0E0E5;
    padding: 2px;
  }

  .statisticItem:last-child {
    .statisticInfo {
      border-bottom: 0;
    }
  }

  .backImg2 {
    position: absolute;
    top: 100% !important;

  }

  .stepsList {
    flex-direction: column;
    padding: 0 16px 0 16px !important;
  }

  .stepsText {
    margin-bottom: 48px !important;
    padding: 18px;
  }

  .stepsItem__numberBlock {
    background-image: url("../images/imgLanding/image-main/tree-left.png");
    background-position: left;
    background-size: cover;
  }

  .stepsItem {
    position: relative;
    margin-right: 0;
    margin-bottom: 40px !important;
  }

  .stepsItem:first-child {
    margin-right: 0 !important;
  }

  .stepsItem:nth-child(even) {
    margin-top: 0px !important;
  }

  .treeSteps1 {
    display: none;
  }

  .treeSteps2 {
    display: none;
  }

  .stepsItem__imageTree {
    display: block !important;
    position: absolute;
    left: -19px;
    bottom: 151px;
    z-index: -1;
  }

  .stepsItem__number {
    position: absolute;
    top: -14px;
    left: 0;
    background-color: #FF9A9A !important;
  }

  .readWay-mobile {
    display: block !important;
    color: #319CFF;
    font-size: 14px;
    font-family: raleway-semibold;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .image-pavel {
    display: none;
  }

  .image-katerina {
    display: none;
  }

  .image-julia {
    display: none;
  }

  .image-katerinaYoung {
    display: none;
  }

  .cardTrajectolog {
    margin-right: 0 !important;
    max-width: 70% !important;
  }

  .buildTrajectory {
    flex-direction: column-reverse;
    padding: 0 !important;
    margin: 16px;
  }

  .competence {
    padding: 16px;
  }

  .statisticInfo {
    border-bottom: 1px solid #E0E0E5;
  }

  .competenceSpecialist {
    font-size: 16px !important;
  }

  .cardTrajectolog__block-imageMobile {
    display: block !important;
    border-radius: 100px;
    margin-right: 5px;
    width: 55px;
    height: 55px;
  }

  .cardTrajectolog__block {
    flex-direction: row !important;
  }
  .descriptionTrajectory {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .trajectoryWay {
    display: none !important;
  }

  .trajectoryImage__mobile {
    display: block !important;
    width: 100%;
  }

  .descriptionTrajectory__button {
    padding: 12px 32px !important;
  }

  .stepsSection {
    margin-bottom: 64px !important;
  }

  .founderBlock {
    flex-direction: column;
    padding: 16px;
  }

  .cardTrajectolog-author {
    max-width: 100% !important;
  }

  .statBlock {
    padding: 16px;
  }

  .founderImage {
    margin-bottom: 15px;
  }


  .imageYear {
    width: 100%;
  }
  .statisticSecond {
    flex-direction: column;
    padding: 7px !important;
  }

  .founderCard {
    background-color: #F5F5F6 !important;
    margin-left: 0 !important;
    box-shadow: none !important;
  }

  .desktopTitle {
    display: none;
  }

  .authorAchievements {
    display: none;
  }

  .questionBlock {
    flex-direction: column;
    padding: 18px 14px !important;
    margin: 15px;
  }


  .questionText-block {
    text-align: center;
    margin-bottom: 10px;
  }

  .cardsBlock {
    justify-content: center;
  }

  .questionForm {
    width: 100% !important;
  }

  .disabled {
    display: none !important;
  }

  .desktop-disabled {
    display: block !important;
  }

  .cardTrajectolog__author {
    display: flex;
    flex-direction: column !important;
  }

  .footer__list {
    flex-direction: column;
    //align-items: center;
    //align-items: stretch;
  }

  .order1 {
    order: 2;
  }

  .desktopItem {
    display: none !important;
  }

  .mobileItem {
    display: flex !important;
    flex-direction: column;
  }
  .roadMap {
    display: block;
  }

  .trajectoryRed {
    border-top: 3px solid #FF9A9A !important
  }

  .commentBlock {
    padding: 25px !important;
  }

  .trajectoryDown__item:first-child {
    margin-left: 0;
  }

  .roadMap__Block-image {
    padding: 35px;
  }

  .trajectoryDown__item {
    margin-top: -77px;
  }

  .blockSince {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -84px;
  }

  .trajectoryMiddle__textBlock {
    width: 272px;
    margin-right: 78px !important;
  }

  .trajectoryNumRed {
    color: #FF9A9A !important;
  }

  .trajectoryNumBlue {
    color: #319CFF !important;
    margin-bottom: 10px;
  }

  .mobileItem__block {
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px 16px;


    .footer__item__navList {
      justify-content: center !important;
      margin-bottom: 20px !important;
    }

    .footer__item__socialBlock {
      display: flex;
      margin: 0;
      padding: 14px 17px;
      background-color: #E4F2FF;
      border-radius: 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .chareLink {
      margin: 0 0 10px !important;
    }

    .footer__item-share {
      margin-bottom: 0 !important;
    }

    .footer__item-logo {
      display: none;
    }
  }

  .head-modal {
    flex-direction: column;
  }

  .imageHead-modal {
    margin: auto;
    width: 90%;
    border-radius: 180px;
  }

  .achievementsBlock-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #C1E1FF;
  }

  .achievementsBlock-modal:last-child {
    border-right: 0;
  }

  .createTrajectory-modal {
    width: 100%;
  }

  .achievementsBlock__sumTrajectory-titleModal {
    text-align: center;
  }

  .blockHead-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .achievementsItem-modal {
    border-radius: 16px;
    background-color: #F2F9FF;
  }

  .trajectologTitle-modal {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }

  .nalog__mobile {
    display: block !important;
    margin: 0;
    color: #9A9AA0;
    font-size: 12px;
    font-family: raleway-medium;
    text-align: center;
  }

  .privacy {
    text-align: center;
    margin-bottom: 20px !important;
  }

  .footer__item-number {
    font-size: 12px !important;
    margin-bottom: 8px !important;
  }

  .footer__item:last-child {
    justify-content: center;
  }

  .footer__item-link {
    font-size: 12px !important;
  }
}



@media (max-width: 600px) {
  .competenceCard {
    margin-right: 89px !important;
  }
}
