body {
  background-color: white;
  overflow-x: visible;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

}

.classBorder {
  border-bottom: 1px solid #F5F5F6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px 16px 40px;

  .menu__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .hamburger-menu {
    display: none;
  }

  .menu__item {
    margin-right: 24px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .account {
    background-color: #319CFF;
    color: #fff;
    padding: 9px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: raleway-semibold;
  }

  .menu__link {
    font-size: 16px;
    font-family: raleway-medium;
    text-decoration: none;
    color: #000;
  }
}

.buildTrajectory {

  .mainTitle {
    margin: 0;
    text-align: center;
    font-size: calc(56px + 110 * (100vw / 1440));
    font-family: raleway-medium;
    padding: 15px;
  }

  .mainText {
    font-family: raleway-medium;
    font-size: 15px;
    max-width: 900px;
    margin: 0 auto 40px;
    padding: 0 16px 0 16px;
  }

  .trajectoryAbsolute {
    display: block;
    position: relative;

    .trajectoryYear-rebirth {
      position: relative;
    }

    .trajectoryYear-rebirth__textBlock {
      position: absolute;
      top: -23px;
      right: 88px;
      text-align: end;
    }

    .trajectoryYear-rebirth__textRebirth {
      font-style: italic;
      font-size: 10px;
      font-family: raleway-semibold;
      margin: 0 0 6px;
    }

    .classVectorRight {
      position: absolute;
      right: 0;
      top: -57px;
      z-index: -1;
      opacity: 0.3;
    }

    .classVectorLeft {
      position: absolute;
      top: 272px;
      left: 141px;
      z-index: -1;
      opacity: 0.5;
    }

    .trajectoryYear-rebirth__textCycle {
      font-family: raleway;
      font-style: italic;
      font-size: 10px;
      color: #9A9AA0;
      margin: 0;
    }

    .trajectoryYear {
      position: absolute;
      top: 0;
      right: 0;
    }

    .trajectoryYear-rebirth__years {
      position: absolute;
      top: -90px;
      right: 76px;
    }

    .trajectoryYear-rebirth__dot {
      position: absolute;
      top: -54px;
      right: 82px;
    }

    .trajectoryYear-rebirth__arrow {
      position: absolute;
      right: 103px;
      top: -44px;
    }

    .trajectoryYear-peak {
      position: relative;
    }

    .trajectoryYear-peak__years {
      position: absolute;
      left: 237px;
      top: 166px;
    }

    .trajectoryYear-peak__dot {
      position: absolute;
      top: 206px;
      left: 262px;
    }

    .trajectoryYear-peak__arrow {
      position: absolute;
      top: 217px;
      left: 243px;
      opacity: 0.6;
    }

    .trajectoryYear-peak__textBlock {
      position: absolute;
      top: 206px;
      left: 41px;
      text-align: end;
    }

    .trajectoryYear-peak__textRebirth {
      font-style: italic;
      font-size: 10px;
      font-family: raleway-semibold;
      margin: 0 0 6px;
    }

    .trajectoryYear-peak__textCycle {
      font-family: raleway;
      font-style: italic;
      font-size: 10px;
      color: #9A9AA0;
      margin: 0;
      max-width: 190px;
    }

    .mainTrajectory {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin-bottom: 70px;

      .mainTrajectory__review {
        display: flex;
        background-color: #fff;
        border-radius: 100px;
        border: 1px solid #E4F2FF;
        padding: 8px 16px;
        align-items: center;
      }

      .mainTrajectory__block {
        display: flex;
        align-items: center;
        margin-right: 8px;
      }


      .mainTrajectory__start {
        background-color: #319CFF;
        font-family: Raleway-Medium;
        border-radius: 100px;
        color: #fff;
        border: none;
        padding: 20px 32px;
        margin-right: 16px;
      }

      .mainTrajectory__play {
        background-color: #fff;
        border: none;
      }

      .mainTrajectory__title {
        color: #319CFF;
        font-family: raleway-semibold;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 3px;

      }

      .mainTrajectory__text {
        color: #319CFF;
        font-family: raleway;
        font-size: 12px;
        margin: 0;
      }

    }

    .backImg1 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .backImg2 {
      width: 100%;
      position: absolute;
      top: 42%;
      z-index: -2;
    }

  }

  .trajectoryBlock__imgMain {
      -webkit-background-size: auto;
      -moz-background-size: auto;
      -o-background-size: auto;
      background-size: auto;
    //position: absolute;
    //top: 127px;
    //left: 356px;
  }

  .trajectoryBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.statisticTitle {
  text-align: center;
  font-size: calc(32px + 24 * (100vw / 1440));
  font-family: raleway-medium;
  mask-border: none;
}

.statisticText {
  max-width: 895px;
  text-align: center;
  font-family: raleway-medium;
  font-size: 16px;
  margin: 0 auto 65px;
  padding: 0 16px 0 16px;
}


.roadMap__Block-image {
  width: 100%;
}

.statisticList {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0 0 120px;
}

.statisticItem {
  position: relative;
  border-right-color: #0c4128;
}

//.statisticItem:before {
//  content: '';
//  position: absolute;
//  top: 0;
//  width: 437px;
//  height: 437px;
//}

.rounded-image1 {
  position: absolute;
  top: -5px;
  width: 421px;
  left: -16px;
  z-index: -10;
  transform: rotate(52deg);
}

.dot-rounded1 {
  position: absolute;
  top: -2px;
  right: 101px;
  z-index: 1;
}

.rounded-image2 {
  position: absolute;
  top: -5px;
  width: 416px;
  left: -2px;
  z-index: 1;
  transform: rotate(-1.83deg);
}



.dot-rounded2 {
  position: absolute;
  left: 17px;
  bottom: 76px;
  z-index: 1;
}

.rounded-image3 {
  position: absolute;
  top: -6px;
  width: 413px;
  left: -10px;
  z-index: -10;
  transform: rotate(87deg);
}

.dot-rounded3 {
  position: absolute;
  top: 67px;
  right: 0;
  z-index: 1;
}

.statisticItem__text {
  max-width: 250px;
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid #E0E0E5;
  font-family: Raleway-Medium;
  font-size: 14px;
  text-align: center;
}

.statisticItem__block {
  background-color: #fff;
  border-radius: 100%;
  //opacity: 0.8;
  width: 400px;
  height: 400px;
  display: flex;
  margin-right: -30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(12px);
}

.statisticItem__block:nth-child(2) {
  z-index: 1;
}

.statisticItem__block:nth-child(3) {
  z-index: 3;
}

.statisticItem__num {
  font-size: 56px;
  font-family: raleway-bold;
  margin: 0;
  padding-bottom: 10px;
  background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.businessTitle {
  text-align: center;
  font-family: raleway-semibold;
  font-size: calc(32px + 24 * (100vw / 1440))
}

.businessText {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  padding: 0 16px 0 16px;
  font-family: raleway-medium;
  font-size: 16px;
}

.slideBlock {
  display: flex;
  justify-content: space-between;
}

.imgStarsWay {
  width: 100%;
  object-fit: cover;
  height: 456px;
  margin-bottom: 120px;
}

.stepsSection {
  margin-bottom: 120px;

  .stepsTitle {
    text-align: center;
    font-family: raleway-semibold;
    font-size: 66px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .stepsText {
    text-align: center;
    margin: 0 auto 165px;
    font-family: raleway-medium;
    font-size: 16px;
  }

  .trajectoryWayBock-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .trajectoryWau__image-modal {
    width: 100%;
    object-fit: cover;
  }

  .trajectoryWay__item-module {
    font-family: raleway-medium;
    font-size: 14px;
    line-height: 20px;
  }

  .trajectoryWay__title-module {
    font-family: raleway-medium;
    font-size: 24px;
    line-height: 32px;
  }

  .trajectoryWay__list-module {

  }


  .stepsList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
  }

  .stepsItem {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 16px;
    background-color: #F5F5F6;
    margin-bottom: 150px;

    .stepsItem__title {
      font-family: raleway-medium;
      color: #319CFF;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    .stepsItem__list {
      padding: 0;
      list-style-type: disc;
      margin: 0 0 0 30px;
    }

    .stepsItem__item {
      font-size: 14px;
      max-width: 650px;
      font-family: raleway-medium;
    }

    .readWay-mobile {
      display: none;
    }

    .stepsItem__block {
      justify-content: flex-start;

    }

    .stepsItem__number {
      background-color: #ACD7FF;
      border-radius: 30px;
      text-align: center;
      vertical-align: bottom;
      margin: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #fff;
      font-size: 16px;
      font-family: raleway-semibold;

    }

    .stepsItem__imageTree {
      display: none;
    }
  }

  .stepsItem:first-child {
    margin-right: 60px;
  }

  .treeSteps1 {
    position: absolute;
    top: -20%;
    right: 40%;
    left: 47%;
    z-index: -1;
  }

  .treeSteps2 {
    position: absolute;
    top: 30%;
    right: 40%;
    left: 47%;
    z-index: -1;
  }

  .rel {
    position: relative;
  }

  .stepsItem:nth-child(even) {
    margin-top: 20px;
    max-width: 650px;
    padding: 10px;

  }

  .stepsItem__block:nth-child(even) {
    margin-left: 12px;
  }

  .buildTrajectory {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 16px;
    padding-left: 48px;
    margin: 18px;
  }

  .descriptionTrajectory__title {
    font-size: 24px;
    color: #319CFF;
    font-family: raleway;
  }

  .descriptionTrajectory__text {
    font-family: raleway-medium;
    font-size: 14px;
  }

  .descriptionTrajectory {
    height: 230px;
  }

  .descriptionTrajectory__button {
    background-color: #319CFF;
    font-family: Raleway-Medium;
    border-radius: 100px;
    color: #fff;
    border: none;
    padding: 20px 32px;
    margin-right: 16px;
  }


  .trajectoryWay {
    position: relative;

    .yearsList {
      list-style-type: none;

    }

    .back1 {
      position: absolute;
      top: -18px;
      left: -15px;
      z-index: 2;
    }

    .back2 {
      position: absolute;
      top: 158px;
      left: -167px;
    }

    .back3 {
      position: absolute;
      top: -20px;
      right: -36px;
      z-index: 2;
    }

    .block1 {
      position: absolute;
      top: 0;

    }

    .block2 {
      position: absolute;
      top: 41px;
      left: 225px;
    }

    .block3 {
      position: absolute;
      top: 0;
      right: 165px;
    }


    .round1 {
      position: absolute;
      top: 90px;
      left: 160px;
    }

    .round2 {
      position: absolute;
      top: 49px;
      left: 93px;
    }

    .round3 {
      position: absolute;
      top: 91px;
      right: -27px;
    }

    .arrow1 {
      position: absolute;
      top: 15px;
      left: 127px;
    }

    .arrow2 {
      position: absolute;
      top: 89px;
      left: 42px;
    }

    .arrow3 {
      position: absolute;
      top: 27px;
      right: 19px;
    }

    .yearsItem__round {
      position: absolute;
      top: 0;
    }


    .yearsItem__multiBlock {

    }


    .yearsItem__block {
      //position: absolute;
      //top: 0;
      background-color: #fff;
      border-radius: 16px;
    }


  }

  .yearsItem {
    position: relative;
  }
}

.trajectoryImage__mobile {
  display: none;
}


.historyTrajectory {


  .historyTitle {
    margin: 0 auto 40px;
    text-align: center;
    font-family: raleway-bold;
    font-size: calc(32px + 24 * (100vw / 1440));
    max-width: 920px;
  }

  .founderBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
  }

  .founderImage {
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    height: 90%;
  }

  .founderCard {
    background-color: #fff;
    border-radius: 20px;
    opacity: 0.95;
    padding: 16px;
    max-width: 340px;
    height: 90%;
    margin-left: -200px;
    z-index: 1;
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.08);


    .founderName {
      color: #319CFF;
      font-size: 28px;
      font-family: raleway-semibold;
      margin: 0;
    }

    .founderDesc {
      margin-bottom: 13px;
    }

    .founderDesc__title {
      font-family: raleway-medium;
      margin: 0;
      margin-bottom: 3px;
      color: #9A9AA0;
      font-size: 14px;
    }

    .approachMotivation__text {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: raleway-medium;
      font-size: 14px;

    }

    .approachMotivation__item__text {
      font-size: 14px;
      font-family: raleway-medium;
      color: #9A9AA0;
      margin: 0;
    }

    .authorBook {
      color: #319CFF;
     a {
       text-decoration: none;
     }
    }

    .founderDesc__info {
      margin: 0;
      color: #319CFF;
      font-family: raleway-medium;
      font-size: 20px;
    }

    .founderDesc__patent {
      font-family: raleway-medium;
      font-size: 16px;
      margin: 0;
    }
  }



  .statBlock {
    margin-bottom: 120px;
    padding: 20px;

    .statisticSecond {
      display: flex;
      margin: 0;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      box-shadow: 0 32px 70px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
    }

    .statisticItem {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      background: conic-gradient(from 10.65deg at 50% 50%, #FF7171 0deg, rgba(255, 113, 113, 0) 116.25deg, rgba(255, 113, 113, 0) 360deg);
      border: 2px solid;

      border-image-source: conic-gradient(from 10.65deg at 50% 50%, #FF7171 0deg, rgba(255, 113, 113, 0) 116.25deg, rgba(255, 113, 113, 0) 360deg);


    }
    .statisticItem-second {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #E0E0E5;
      padding: 2px;
    }


    .statisticItem-second:last-child {
      border-right: none !important;
    }

    .statisticInfo {
      display: flex;
      justify-content: center;
      flex-direction: row;
      max-width: 450px;
      padding: 46px 32px;
      align-items: center;
      align-content: flex-end;
      flex-wrap: wrap;
    }

    .statisticInfo__title {
      display: flex;
      align-items: flex-end;
    }

    .statisticInfo__num {
      font-family: raleway-bold;
      margin: 0;
      font-size: 60px;
      background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .statisticInfo__subtext {
      font-family: raleway-bold;
      margin: 0;
      font-size: 32px;
      background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
    }

    .statisticInfo__text {
      text-align: center;
      font-family: raleway-medium;
    }
  }
}

.competence {
  position: relative;
  border-radius: 40px;
  margin-bottom: 80px;
  background-color: #E0E0E5;
  padding: 64px 50px 40px;
  background-image: url("../images/imgLanding/image-background/back-tree.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.competenceTitle {
  text-align: center;
  margin: 0 0 10px;
  font-size: calc(32px + 24 * (100vw / 1440));
  font-family: raleway-semibold;
}

.competenceSpecialist {
  text-align: center;
  margin: 0 auto 40px;
  font-size: 14px;
  font-family: raleway-medium;
}

.cardCompetenceBlock {
  margin-bottom: 64px;


  .competenceCard {
    display: flex;
    list-style-type: none;
    margin: 0;
    border-radius: 32px;
    padding: 24px;
    background-color: #fff;
    min-width: 200px;
    max-width: 430px;

    .competenceItem__block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid #E0E0E5;

      .competenceItem__desc {
        color: #319CFF;
        margin: 0;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #C1E1FF;
        font-family: raleway-bold;
        font-size: 14px;

      }

      .competenceItem__desc-author {
        color: #fff;
        margin: 0;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #fff;
        font-family: raleway-bold;
        font-size: 14px;
      }


      .competenceItem__price {
        font-size: calc(40px + 16 * (100vw / 1440));
        font-family: raleway-bold;
        margin: 0 0 20px;
      }

    }

    .jobsList {
      margin-top: 20px;
      padding: 0;
      margin-bottom: 46px;
    }

    .jobsItem {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
    }


    .textConsultation {
      font-size: 10px;
      font-family: raleway-semibold;
    }

    .jobsItem:last-child {
      margin-bottom: 0;
    }

    .jobsItem__image {
      margin-right: 6px;
    }



    .choiceTrajectolog {
      padding-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 16px;
      width: 100%;
      background-color: #F2F9FF;
      border: none;
      border-radius: 16px;
      font-size: 16px;
      font-family: raleway-semibold;
      color: #319CFF;
    }

    .card-mentor {
      background-color: #E4F2FF;
    }

    .card-author {
      background-color: #319CFF;
    }


    .textConsultation:first-child {
      color: #9A9AA0;
      font-size: 10px;
      font-family: raleway-semibold;
    }


  }

  .card-mentor {
    background-color: #E4F2FF;
  }

  .card-author {
    background-color: #319CFF;
    color: #fff;
  }

  .price-mentor {
    color: #319CFF;
  }

  .price-author {
    color: #fff;
  }


}


.trajectolorsTitle {
  text-align: center;
  font-size: calc(32px + 24 * (100vw / 1440));
  font-family: raleway-semibold;
  margin: 0 auto 56px;
}

.authorTitle {
  margin: 0 0 16px;
  font-size: 20px;
  font-family: raleway-semibold;
}

.cardsBlock {
  display: flex;
  margin-bottom: 40px;
}

.cardTrajectolog {
  position: relative;
  border-radius: 32px;
  margin-right: 16px;
  max-width: 320px;

  .cardTrajectolog__item {
    padding: 8px 16px;
  }

  .cardTrajectolog__block {
    display: flex;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #F5F5F6;
    margin-bottom: -15px;
    flex-direction: column;
    padding: 8px 16px 20px;
    z-index: 2;
    align-items: flex-start;
  }

  .cardTrajectolog__block-imageMobile {
    display: none;
  }
}

.cardTrajectolog-author {

}

.cardTrajectolog__block-title {
  font-size: 16px;
  font-family: raleway-semibold;
  margin: 0 0 5px;
}

.cardTrajectolog__block-author {
  font-family: raleway-semibold;
  color: #fff;
  margin: 0;
  margin-right: 8px !important;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  background-color: #319CFF;
}

.start-img {
  margin-right: 5px;
}

.cardTrajectolog__block-mentor {
  font-family: raleway-semibold;
  color: #319CFF;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  background-color: #E4F2FF;
  margin: 0;
}

.cardTrajectolog__block-normal {
  font-family: raleway-semibold;
  color: #319CFF;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  border: 1px solid #9A9AA0;
  margin: 0;
}

.trajectologDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardTrajectolog__description {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 16px;
}

.cardTrajectolog__item {

}

.cardHead__image {
  width: 100%;
  height: 250px;
  margin-bottom: -25px;
  border-radius: 16px;
}

.image-author {
  background: url("../images/imgLanding/image-main/cards/image-author.png") no-repeat;
  background-size: cover;
}

.image-pavel {
  background: url("../images/imgLanding/image-trajectologs/pavel.png") no-repeat;
  background-size: cover;
}

.image-katerina {
  background: url("../images/imgLanding/image-trajectologs/katerina.png") no-repeat;
  background-size: cover;
}

.image-julia {
  background: url("../images/imgLanding/image-trajectologs/julia.png") no-repeat;
  background-size: cover;
}

.image-katerinaYoung {
  background: url("../images/imgLanding/image-trajectologs/katerina(yong).png") no-repeat;
  background-size: cover;
}

.cardTrajectolog__achievements-title {
  font-family: raleway-semibold;
  font-size: 12px;
  color: #9A9AA0;
  margin: 0;
}

.cardTrajectolog__achievements-num {

  font-family: raleway-bold;
  font-size: 20px;
  color: #319CFF;
}

.cardTrajectolog__achievements-desc {
  margin: 0;
  height: 40px;
  font-size: 14px;
  font-family: raleway-medium;
}

.cardTrajectolog__description-next {
  margin: 0;
  font-family: raleway-semibold;
  font-size: 14px;
  border: none;
  background-color: #fff;
  color: #319CFF;
}

.cardTrajectolog__description__block {
  margin-bottom: 10px;
}

.raitingText {
  font-family: raleway-bold;
  font-size: 12px;
}

.raitingText-span {
  color: #9A9AA0;
  font-family: raleway-medium;
}

.achievements-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  border-radius: 24px;
  background-color: #fff;

  .trajectologTitle-modal {
    margin: 0;
    font-size: calc(24px + 8 * (100vw / 1440));
    line-height: 30px;
    font-family: raleway-medium;
    margin-bottom: 32px;
  }

  .head-modal {
    display: flex;
    padding-bottom: 24px;
  }

  .blockHead-modal {
    padding: 16px;
  }

  .titleTrajectolog-modal {
    font-size: calc(20px + 4 * (100vw / 1440));
    font-family: raleway-semibold;
    margin: 0;
  }

  .achievementsBlock__sumTrajectory-titleModal {
    font-family: raleway-medium;
    font-size: 12px;
    color: #53535E;
  }

  .achievementsBlock__sumTrajectory-numModal {
    font-family: raleway-semibold;
    color: #57AEFF;
    font-size: calc(24px + 8 * (100vw /1440));
    margin: 0;
  }

  .blockTrajectolog-modal {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .achievementsItem-modal {
    display: flex;

  }

  .achievementsBlock-modal {
    margin-right: 16px;
  }

  .workExperience {
    border-top: 1px solid #E0E0E5;
    padding-top: 24px;
  }

  .workExperience__title {
    font-size: 16px;
    font-family: raleway-bold;
  }

  .workExperience__text {
    font-size: 14px;
    font-family: raleway-medium;
  }

  .workExperience__list {
    padding: 0;
    list-style-type: none;
    .jobsItem__description {
      font-family: raleway-medium;
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
    }

  }

  .workExperience__item {
    display: flex;
    align-items: flex-start;
  }

  .workExperience__image {
    margin-right: 8px;
  }

  .price-modal {
    font-family: raleway-semibold;
    font-size: 14px;
    color: #9A9AA0;
  }

  .createTrajectory-modal {
    font-family: raleway-medium;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 10px 16px;
    background-color: #319CFF;
    color: #fff;
    margin-bottom: 10px;
  }
  .comment-modal {
    font-family: raleway-bold;
    font-size: 16px;
    color: #0F0F1A;
  }

  .formComment-modal {
    width: 100%;
    margin-bottom: 20px;
  }

  .inputComment-modal {
    width: 95%;
    padding: 16px;
    border: 1px solid #9A9AA0;
    border-radius: 16px;
    outline: none;
    color: #9A9AA0;
    font-size: 16px;
    font-family: raleway-medium;
  }

  .commentModule__name {
    font-size: 14px;
    line-height: 22px;
    font-family: raleway-bold;
  }

  .commentModule__textComment {
    font-family: raleway-medium;
    font-size: 14px;
    line-height: 20px;
  }
  .commentModule__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .commentModule__item {
    padding: 12px 16px;
    background-color: #F5F5F6;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  .commentModule__block {
    display: flex;
    justify-content: space-between;
  }

  .loadMore {
    margin: 0 auto;
    padding: 10px 16px;
    border-radius: 100px;
    background-color: #F2F9FF;
    color: #319CFF;
    font-size: 16px;
    font-family: raleway-semibold;
    border: none;
  }

  .mentorTrajectolog {
    font-family: raleway-semibold;
    color: #319CFF;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50px;
    background-color: #E4F2FF;
    margin: 0;
  }
}

.blockComment-modal {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 24px 16px;

    .titleComment-modal {
      margin-bottom: 20px !important;
      font-size: 24px;
      font-family: raleway-medium;
      margin: 0 auto;
      text-align: center;
    }

  .commentImage-modal {
    border-radius: 100px;
  }

  .headComment-modal {
    text-align: center;
    font-size: 24px;
    font-family: raleway-medium;
  }

  .commentRaitingText-modal {
    margin: 0;
  }

  .competitionComment-modal {
    font-size: 12px;
    color: #9A9AA0;
  }

  .commentRaitingBlock-modal {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .commentStar-image {
    margin-right: 5px;
  }

  .textComment-modal {
    padding-top: 16px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: raleway-medium;
    border-top: 1px solid #E0E0E6;
  }
}

.authorAchievements {
  p {
    margin: 0;
  }

  padding: 24px;
  border-radius: 24px;
  background-color: #fff;

  .titleAuthor {
    font-size: 24px;
    margin: 0;
    font-family: raleway-semibold;
  }

  .blockAuthor {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .achievementsItem {
    display: flex;
  }

  .mainAuthorBlock__item__text {
    color: #53535E;
    font-family: raleway-medium;
  }

  .achievementsBlock__sumTrajectory-num {
    color: #319CFF;
    font-size: 32px;
    font-family: raleway-bold;
  }

  .achievementsBlock {
    margin-right: 16px;
  }

  .achievementsBlock__sumTrajectory-title {
    font-family: raleway-medium;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .mainAuthorBlock__title {
    font-family: raleway-medium;
    margin: 0;
    color: #9A9AA0;
    font-size: 14px;
  }

  .mainAuthorBlock__text {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: raleway-medium;
    font-size: 14px;
  }

  .patentInfo__title {
    font-family: raleway-medium;
    margin: 0;
    margin-bottom: 5px;
    color: #9A9AA0;
    font-size: 14px;
  }

  .patentInfo__patent {

    font-family: raleway-medium;
    font-size: 16px;
  }

  .createTrajectory {
    font-family: raleway-medium;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 10px 16px;
    background-color: #319CFF;
    color: #fff;
  }

  .patentInfo {
    margin-bottom: 24px;
  }

  .treeBack {
    position: absolute;
    top: 0;
  }
}

.trajectologShtat__title {
  font-size: 20px;
  font-family: raleway-bold;
  margin: 0 0 16px;
}

.trajectologsMentors {
  margin-bottom: 40px;
}

.comment {
  margin-bottom: 120px;

  .commentTitle {
    font-family: raleway-semibold;
    font-size: 56px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .commentBlock__image {
    border-radius: 70px;
  }

  .commentBlock__nameAuthor {
    margin: 0 0 8px;
    font-family: raleway-semibold;
    font-size: 20px;
  }

  .commentCard__rounded1 {
    position: absolute;
    top: -2px;
    left: -7px;
    transform: rotate(-107.76deg);
  }

  .commentCard__dot1 {
    position: absolute;
    bottom: 32px;
    left: 73px;
    transform: rotate(-45deg);
  }

  .commentCard__rounded2 {
    position: absolute;
    top: -8px;
    left: 0px;
  }

  .commentCard__dot2 {
    position: absolute;
    top: 25px;
    left: 86px;
  }


  .commentCard__rounded3 {
    position: absolute;
    top: 7px;
    right: -6px;
    transform: rotate(90deg);
  }

  .commentCard__dot3 {
    position: absolute;
    top: 92px;
    right: 23px;
  }

  .commentCard__rounded4 {
    position: absolute;
    top: 3px;
    left: -8px;
    transform: rotate(-110.76deg);
  }

  .commentCard__dot4 {
    position: absolute;
    bottom: 27px;
    left: 77px;
  }



  .commentBlock__jobPosition {
    margin: 0 0 8px;
    color: #9A9AA0;
    font-size: 14px;
  }

  .commentBlock__comment {
    width: 305px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 24px;
    font-family: raleway-medium;
  }

  .commentBlock__readMore {
    background-color: #fff;
    border: none;
    color: #319CFF;
    font-size: 14px;
    z-index: 10;
    font-family: raleway-semibold;
  }

  .commentBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 72px;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.04);
    border-radius: 500px;
    border: 2px solid;
    border-image-source: conic-gradient(from 10.65deg at 50% 50%, #FF7171 0deg, rgba(255, 113, 113, 0) 116.25deg, rgba(255, 113, 113, 0) 360deg);
  }

  .swiper-slide {
    //width: 437px !important;
    //margin-left: 10px;
    //margin-right: 20px !important;
  }

  .commentCard {
    //width: 437px !important;
    width: 100% !important;
    //max-width: 437px !important;
    //min-width: 390px !important;
  }

  .commentCard:first-child {
    margin-left: 10px;
  }

  .starBlock {
    display: flex;
    margin-bottom: 8px;
  }

  .imageStar {
    margin-right: 5px;
  }
}

.itemCompany {
  position: absolute;
  height: 135px;
}

.roadMap {
  position: relative;
  margin-bottom: 120px;

  .roadTitle {
    font-size: 56px;
    font-family: raleway-semibold;
    text-align: center;
    margin: 0 auto 98px;
    padding-bottom: 48px;
  }

  .swiperMap {
    display: none;
  }

  .imgContent {
    display: none;
  }

  .trajectoryDown__blockImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
  }

  .trajectoryDown__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-right: 128px;
  }

  .trajectoryDown__item:first-child {
    margin-left: 37px;
  }

  .trajectoryDown__item:nth-child(2) {
    margin-right: 232px;
  }

  .trajectoryDown__item:last-child {
    .trajectoryDown__num {
      color: #319CFF;
    }

    .trajectoryDown__textBlock {
      border-top: 3px solid #319CFF;
    }
  }

  .trajectoryDown__num {
    font-family: raleway-semibold;
    font-size: 16px;
    color: #FF9A9A;
  }


  .trajectoryDown__textBlock {
    box-shadow: 0 16px 70px rgba(0, 0, 0, 0.08);
    border-radius: 8px 8px 24px 24px;
    border-top: 3px solid #FF9A9A;
    padding: 16px;
    min-height: 90px;
    min-width: 226px;
  }

  .trajectoryDown__text {
    max-width: 195px;
    font-family: raleway-semibold;
    font-size: 14px;
    margin: 0;
  }

  .trajectoryDown__num {
    margin: 0 0 11px;
  }

  .trajectoryDown__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -50px;
  }

  .trajectoryUp__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 -53px;
    justify-content: space-around;
  }

  .trajectoryUp__blockImage {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
  }

  .trajectoryUp__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .trajectoryUp__textBlock {
    box-shadow: 0 16px 70px rgba(0, 0, 0, 8%);
    border-radius: 8px 8px 24px 24px;
    border-top: 3px solid #FF9A9A;
    padding: 16px;
    min-height: 90px;
  }

  .trajectoryUp__item:last-child {
    margin-left: 450px;

    .trajectoryUp__textBlock {
      border-top: 3px solid #319CFF;

    }

    .trajectoryUp__num {
      color: #319CFF;
    }

  }


  .trajectoryMiddle__textBlock {
    padding: 16px;
    background-color: #319CFF;
    border-radius: 32px;
    color: #fff;

  }

  .trajectoryMiddle__num {
    font-family: raleway-semibold;
    font-size: 16px;
    margin: 0;
    color: #319CFF;
  }

  .trajectoryUp__text {
    max-width: 195px;
    font-family: raleway-semibold;
    font-size: 14px;
    margin: 0;
  }

  .trajectoryMiddle__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .trajectoryMiddle__item:nth-child(2) {
    position: absolute;
    top: 121px;

    .trajectoryMiddle__textBlock {
      height: 170px;
    }
  }


  .trajectoryMiddle__block {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .bigRound {
    background-color: #319CFF;
    border-radius: 32px;
  }

  .trajectoryMiddle__title {
    margin: 0;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: raleway-bold;
    border-bottom: 1px solid #57AEFF;
  }

  .trajectoryMiddle__company {
    margin: 0;
    font-family: raleway-bold;
    font-size: 30px;
  }

  .trajectoryUp__num {
    font-family: raleway-semibold;
    font-size: 16px;
    color: #FF9A9A;
  }

  .blockArrow {
    position: relative;
  }

  .arrowEnd {
    position: absolute;
    top: -15px;
    right: -17px;
  }


}

.questionSection {
  margin-bottom: 120px;

  .questionBlock {
    display: flex;
    background-color: #F2F9FF;
    border-radius: 32px;
    justify-content: space-between;
    padding: 34px 104px 34px 72px;
    background-image: url("../images/imgLanding/image-background/tree-question.svg");
    background-position: left;
    background-repeat: no-repeat;
  }

  .questionTitle {
    margin: 0 0 8px;
    font-family: raleway-semibold;
    font-size: calc(32px + 8 * (100vw / 1440));
  }

  .questionText {
    font-family: raleway-medium;
    font-size: 16px;
    margin: 0;
  }

  .questionForm {
    display: flex;
    flex-direction: column;
    width: 513px;
  }

  .questionForm__input {
    outline: none;
    border: none;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 12px;
  }

  .questionForm__button {
    font-family: raleway-semibold;
    font-size: 16px;
    padding: 16px;
    border: none;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #319CFF;
  }

  .questionForm__input::placeholder {
    font-family: raleway-medium;
    color: #9A9AA0;
  }

  .questionForm__input {
    font-family: raleway-medium;
    color: #9A9AA0;
  }
}

.footer {
  background-color: #F5F5F6;
  padding: 24px 48px;

  .footer__list {
    display: flex;
    font-family: raleway-medium;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer__item__navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer__item__socialBlock {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 14px 17px;
    background-color: #E4F2FF;
    border-radius: 16px;
  }

  .chareLink {
    font-size: 16px;
    margin: 0 10px 0 0;
  }

  .linkSocial {
    text-decoration: none;
    margin-right: 20px;
  }

  .linkSocial:last-child {
    margin-right: 0;
  }

  .privacy {
    margin: 0;
    color: #9A9AA0;
    font-size: 12px;
  }

  .footer__item:last-child {
    display: flex;
    //align-items: flex-end;
    flex-direction: column;
  }

  .footer__item-logo {
    margin-bottom: 15px;
  }

  .footer__item__socialBlock {
    margin-bottom: 24px;
  }

  .footer__item__navItem {
    margin-right: 16px;
  }

  .desktopItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer__item__navItem:last-child {
    margin-right: 0;
  }

  .footer__item__link {
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }

  .footer__item-number {
    font-size: 16px;
    margin: 0 0 18px;
  }

  .footer__item-mail {
    margin: 0 0 20px;
  }

  .footer__item-link {
    text-decoration: none;
    color: #319CFF;
    font-size: 16px;
  }

  .footer__item-nalog {
    font-size: 12px;
    margin: 0;
    color: #9A9AA0;
  }

  .footer__item-share {
    margin-bottom: 18px;
  }

  .footer__item-image {
    margin-right: 20px;
  }

  .mobileItem {
    display: none;
  }

  .nalog__mobile {
    display: none;
  }


} .bottom-wrapper {

    padding-bottom: 100px;
    padding-top: 20px;
  }

.desktop-disabled {
  display: none;
}

.imageWay-changeNext1 {
  position: relative;
  right: 55px;
}
.imageWay-changeNext2 {
  position: relative;
  right: 105px;
}
.imageWay-changeNext3{
  position: relative;
  right: 55px;
}
.imageWay-changePrev {
  position: relative;
  left: 105px;
}

.slideTrajectory {
  width: 410px !important;
}

.rounded-image1 {
  position: absolute;
  top: -5px;
  width: 421px;
  left: -16px;
  z-index: -10;
  transform: rotate(52deg);
}

.slideTrajectory:first-child {
  margin-right: 0 !important;
}

@import '_fonts';
@import '_media';
