.container {
  max-width: 1440px;
  margin: 0 auto;
}

.classBorder {
  border-bottom: 1px solid #F5F5F6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px 16px 40px;
}
.header .menu__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header .hamburger-menu {
  display: none;
}
.header .menu__item {
  margin-right: 24px;
}
.header .menu__item:last-child {
  margin-right: 0;
}
.header .account {
  background-color: #319CFF;
  color: #fff;
  padding: 9px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-family: raleway-semibold;
}
.header .menu__link {
  font-size: 16px;
  font-family: raleway-medium;
  text-decoration: none;
  color: #000;
}

.buildTrajectory .mainTitle {
  margin: 0;
  text-align: center;
  font-size: calc(56px + 7.6388888889vw);
  font-family: raleway-medium;
  padding: 15px;
}
.buildTrajectory .mainText {
  font-family: raleway-medium;
  font-size: 15px;
  max-width: 900px;
  margin: 0 auto 40px;
  padding: 0 16px 0 16px;
}
.buildTrajectory .trajectoryAbsolute {
  display: block;
  position: relative;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth {
  position: relative;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth__textBlock {
  position: absolute;
  top: -23px;
  right: 88px;
  text-align: end;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth__textRebirth {
  font-style: italic;
  font-size: 10px;
  font-family: raleway-semibold;
  margin: 0 0 6px;
}
.buildTrajectory .trajectoryAbsolute .classVectorRight {
  position: absolute;
  right: 0;
  top: -57px;
  z-index: -1;
  opacity: 0.3;
}
.buildTrajectory .trajectoryAbsolute .classVectorLeft {
  position: absolute;
  top: 272px;
  left: 141px;
  z-index: -1;
  opacity: 0.5;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth__textCycle {
  font-family: raleway;
  font-style: italic;
  font-size: 10px;
  color: #9A9AA0;
  margin: 0;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear {
  position: absolute;
  top: 0;
  right: 0;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth__years {
  position: absolute;
  top: -90px;
  right: 76px;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth__dot {
  position: absolute;
  top: -54px;
  right: 82px;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-rebirth__arrow {
  position: absolute;
  right: 103px;
  top: -44px;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak {
  position: relative;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak__years {
  position: absolute;
  left: 237px;
  top: 166px;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak__dot {
  position: absolute;
  top: 206px;
  left: 262px;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak__arrow {
  position: absolute;
  top: 217px;
  left: 243px;
  opacity: 0.6;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak__textBlock {
  position: absolute;
  top: 206px;
  left: 41px;
  text-align: end;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak__textRebirth {
  font-style: italic;
  font-size: 10px;
  font-family: raleway-semibold;
  margin: 0 0 6px;
}
.buildTrajectory .trajectoryAbsolute .trajectoryYear-peak__textCycle {
  font-family: raleway;
  font-style: italic;
  font-size: 10px;
  color: #9A9AA0;
  margin: 0;
  max-width: 190px;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 70px;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory .mainTrajectory__review {
  display: flex;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #E4F2FF;
  padding: 8px 10px;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory .mainTrajectory__block {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory .mainTrajectory__start {
  background-color: #319CFF;
  font-family: Raleway-Medium;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 20px 32px;
  margin-right: 16px;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory .mainTrajectory__play {
  background-color: #fff;
  border: none;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory .mainTrajectory__title {
  color: #319CFF;
  font-family: raleway-semibold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 3px;
}
.buildTrajectory .trajectoryAbsolute .mainTrajectory .mainTrajectory__text {
  color: #319CFF;
  font-family: raleway;
  font-size: 12px;
  margin: 0;
}
.buildTrajectory .trajectoryAbsolute .backImg1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.buildTrajectory .trajectoryAbsolute .backImg2 {
  width: 100%;
  position: absolute;
  top: 42%;
  z-index: -2;
}
.buildTrajectory .trajectoryBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.statisticTitle {
  text-align: center;
  font-size: calc(32px + 1.6666666667vw);
  font-family: raleway-medium;
  mask-border: none;
}

.statisticText {
  max-width: 895px;
  text-align: center;
  font-family: raleway-medium;
  font-size: 16px;
  margin: 0 auto 65px;
  padding: 0 16px 0 16px;
}

.roadMap__Block-image {
  width: 100%;
}

.statisticList {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.statisticItem__text {
  max-width: 250px;
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid #E0E0E5;
  font-family: Raleway-Medium;
  font-size: 14px;
  text-align: center;
}

.statisticItem__block {
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  display: flex;
  margin-right: -30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 40px 100px rgba(0, 0, 0, 0.04));
}

.statisticItem__block:nth-child(2) {
  z-index: 1;
}

.statisticItem__block:nth-child(3) {
  z-index: 3;
}

.statisticItem__num {
  font-size: 56px;
  font-family: raleway-bold;
  margin: 0;
  padding-bottom: 10px;
  background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.businessTitle {
  text-align: center;
  font-family: raleway-semibold;
  font-size: calc(32px + 1.6666666667vw);
}

.businessText {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  padding: 0 16px 0 16px;
  font-family: raleway-medium;
  font-size: 16px;
}

.slideBlock {
  display: flex;
  justify-content: space-between;
}

.imgStarsWay {
  width: 100%;
  object-fit: cover;
  height: 456px;
  margin-bottom: 120px;
}

.stepsSection {
  margin-bottom: 120px;
}
.stepsSection .stepsTitle {
  text-align: center;
  font-family: raleway-semibold;
  font-size: 66px;
  margin-top: 0;
  margin-bottom: 10px;
}
.stepsSection .stepsText {
  text-align: center;
  margin: 0 auto 165px;
  font-family: raleway-medium;
  font-size: 16px;
}
.stepsSection .trajectoryWayBock-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.stepsSection .trajectoryWau__image-modal {
  width: 100%;
  object-fit: cover;
}
.stepsSection .trajectoryWay__item-module {
  font-family: raleway-medium;
  font-size: 14px;
  line-height: 20px;
}
.stepsSection .trajectoryWay__title-module {
  font-family: raleway-medium;
  font-size: 24px;
  line-height: 32px;
}
.stepsSection .stepsList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.stepsSection .stepsItem {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 16px;
  background-color: #F5F5F6;
  margin-bottom: 150px;
}
.stepsSection .stepsItem .stepsItem__title {
  font-family: raleway-medium;
  color: #319CFF;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}
.stepsSection .stepsItem .stepsItem__list {
  padding: 0;
  list-style-type: disc;
  margin: 0 0 0 30px;
}
.stepsSection .stepsItem .stepsItem__item {
  font-size: 14px;
  max-width: 650px;
  font-family: raleway-medium;
}
.stepsSection .stepsItem .readWay-mobile {
  display: none;
}
.stepsSection .stepsItem .stepsItem__block {
  justify-content: flex-start;
}
.stepsSection .stepsItem .stepsItem__number {
  background-color: #ACD7FF;
  border-radius: 30px;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-family: raleway-semibold;
}
.stepsSection .stepsItem .stepsItem__imageTree {
  display: none;
}
.stepsSection .stepsItem:first-child {
  margin-right: 60px;
}
.stepsSection .treeSteps1 {
  position: absolute;
  top: -20%;
  right: 40%;
  left: 47%;
  z-index: -1;
}
.stepsSection .treeSteps2 {
  position: absolute;
  top: 30%;
  right: 40%;
  left: 47%;
  z-index: -1;
}
.stepsSection .rel {
  position: relative;
}
.stepsSection .stepsItem:nth-child(even) {
  margin-top: 20px;
  max-width: 650px;
  padding: 10px;
}
.stepsSection .stepsItem__block:nth-child(even) {
  margin-left: 12px;
}
.stepsSection .buildTrajectory {
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  border-radius: 16px;
  padding-left: 48px;
}
.stepsSection .descriptionTrajectory__title {
  font-size: 24px;
  color: #319CFF;
  font-family: raleway;
}
.stepsSection .descriptionTrajectory__text {
  font-family: raleway-medium;
  font-size: 14px;
}
.stepsSection .descriptionTrajectory {
  height: 230px;
}
.stepsSection .descriptionTrajectory__button {
  background-color: #319CFF;
  font-family: Raleway-Medium;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 20px 32px;
  margin-right: 16px;
}
.stepsSection .trajectoryWay {
  position: relative;
}
.stepsSection .trajectoryWay .yearsList {
  list-style-type: none;
}
.stepsSection .trajectoryWay .back1 {
  position: absolute;
  top: -18px;
  left: -15px;
  z-index: 2;
}
.stepsSection .trajectoryWay .back2 {
  position: absolute;
  top: 158px;
  left: -167px;
}
.stepsSection .trajectoryWay .back3 {
  position: absolute;
  top: -20px;
  right: -36px;
  z-index: 2;
}
.stepsSection .trajectoryWay .block1 {
  position: absolute;
  top: 0;
}
.stepsSection .trajectoryWay .block2 {
  position: absolute;
  top: 41px;
  left: 225px;
}
.stepsSection .trajectoryWay .block3 {
  position: absolute;
  top: 0;
  right: 165px;
}
.stepsSection .trajectoryWay .round1 {
  position: absolute;
  top: 90px;
  left: 160px;
}
.stepsSection .trajectoryWay .round2 {
  position: absolute;
  top: 49px;
  left: 93px;
}
.stepsSection .trajectoryWay .round3 {
  position: absolute;
  top: 91px;
  right: -27px;
}
.stepsSection .trajectoryWay .arrow1 {
  position: absolute;
  top: 15px;
  left: 127px;
}
.stepsSection .trajectoryWay .arrow2 {
  position: absolute;
  top: 89px;
  left: 42px;
}
.stepsSection .trajectoryWay .arrow3 {
  position: absolute;
  top: 27px;
  right: 19px;
}
.stepsSection .trajectoryWay .yearsItem__round {
  position: absolute;
  top: 0;
}
.stepsSection .trajectoryWay .yearsItem__block {
  background-color: #fff;
  border-radius: 16px;
}
.stepsSection .yearsItem {
  position: relative;
}

.trajectoryImage__mobile {
  display: none;
}

.historyTrajectory .historyTitle {
  margin: 0 auto 40px;
  text-align: center;
  font-family: raleway-bold;
  font-size: calc(32px + 1.6666666667vw);
  max-width: 920px;
}
.historyTrajectory .founderBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.historyTrajectory .founderImage {
  border-radius: 30px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  height: 90%;
}
.historyTrajectory .founderCard {
  background-color: #fff;
  border-radius: 20px;
  opacity: 0.95;
  padding: 16px;
  max-width: 340px;
  height: 90%;
  margin-left: -200px;
  z-index: 1;
  box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.08);
}
.historyTrajectory .founderCard .founderName {
  color: #319CFF;
  font-size: 28px;
  font-family: raleway-semibold;
  margin: 0;
}
.historyTrajectory .founderCard .founderDesc {
  margin-bottom: 13px;
}
.historyTrajectory .founderCard .founderDesc__title {
  font-family: raleway-medium;
  margin: 0 0 5px;
  color: #9A9AA0;
  font-size: 14px;
}
.historyTrajectory .founderCard .approachMotivation__text {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: raleway-medium;
  font-size: 14px;
}
.historyTrajectory .founderCard .approachMotivation__item__text {
  font-size: 14px;
  font-family: raleway-medium;
  color: #9A9AA0;
  margin: 0;
}
.historyTrajectory .founderCard .authorBook {
  color: #319CFF;
  text-decoration: none;
}
.historyTrajectory .founderCard .founderDesc__info {
  margin: 0;
  color: #319CFF;
  font-family: raleway-medium;
  font-size: 20px;
}
.historyTrajectory .founderCard .founderDesc__patent {
  font-family: raleway-medium;
  font-size: 16px;
  margin: 0;
}
.historyTrajectory .statBlock {
  margin-bottom: 120px;
}
.historyTrajectory .statBlock .statisticSecond {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  box-shadow: 0 32px 70px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
.historyTrajectory .statBlock .statisticItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E0E0E5;
  padding: 2px;
}
.historyTrajectory .statBlock .statisticItem:last-child {
  border-right: none;
}
.historyTrajectory .statBlock .statisticInfo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 450px;
  padding: 46px 32px;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
}
.historyTrajectory .statBlock .statisticInfo__title {
  display: flex;
  align-items: flex-end;
}
.historyTrajectory .statBlock .statisticInfo__num {
  font-family: raleway-bold;
  margin: 0;
  font-size: 60px;
  background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.historyTrajectory .statBlock .statisticInfo__subtext {
  font-family: raleway-bold;
  margin: 0;
  font-size: 32px;
  background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.historyTrajectory .statBlock .statisticInfo__text {
  text-align: center;
  font-family: raleway-medium;
}

.competence {
  position: relative;
  border-radius: 40px;
  margin-bottom: 80px;
  background-color: #E0E0E5;
  padding: 64px 50px 40px;
  background-image: url("../images/imgLanding/image-background/back-tree.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.competenceTitle {
  text-align: center;
  margin: 0 0 10px;
  font-size: calc(32px + 1.6666666667vw);
  font-family: raleway-semibold;
}

.competenceSpecialist {
  text-align: center;
  margin: 0 auto 40px;
  font-size: 14px;
  font-family: raleway-medium;
}

.cardCompetenceBlock {
  display: flex;
  margin-bottom: 64px;
}
.cardCompetenceBlock .competenceCard {
  display: flex;
  list-style-type: none;
  margin: 0;
  border-radius: 32px;
  padding: 24px;
  background-color: #fff;
  min-width: 200px;
  max-width: 430px;
}
.cardCompetenceBlock .competenceCard .competenceItem__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #E0E0E5;
}
.cardCompetenceBlock .competenceCard .competenceItem__block .competenceItem__desc {
  color: #319CFF;
  margin: 0;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #C1E1FF;
  font-family: raleway-bold;
  font-size: 14px;
}
.cardCompetenceBlock .competenceCard .competenceItem__block .competenceItem__desc-author {
  color: #fff;
  margin: 0;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #fff;
  font-family: raleway-bold;
  font-size: 14px;
}
.cardCompetenceBlock .competenceCard .competenceItem__block .competenceItem__price {
  font-size: calc(40px + 1.1111111111vw);
  font-family: raleway-bold;
  margin: 0 0 20px;
}
.cardCompetenceBlock .competenceCard .jobsList {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 46px;
}
.cardCompetenceBlock .competenceCard .jobsItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.cardCompetenceBlock .competenceCard .textConsultation {
  font-size: 10px;
  font-family: raleway-semibold;
}
.cardCompetenceBlock .competenceCard .jobsItem:last-child {
  margin-bottom: 0;
}
.cardCompetenceBlock .competenceCard .jobsItem__image {
  margin-right: 6px;
}
.cardCompetenceBlock .competenceCard .jobsItem__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: raleway-medium;
}
.cardCompetenceBlock .competenceCard .choiceTrajectolog {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  width: 100%;
  background-color: #F2F9FF;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-family: raleway-semibold;
  color: #319CFF;
}
.cardCompetenceBlock .competenceCard .card-mentor {
  background-color: #E4F2FF;
}
.cardCompetenceBlock .competenceCard .card-author {
  background-color: #319CFF;
}
.cardCompetenceBlock .competenceCard .textConsultation:first-child {
  color: #9A9AA0;
  font-size: 10px;
  font-family: raleway-semibold;
}
.cardCompetenceBlock .card-mentor {
  background-color: #E4F2FF;
}
.cardCompetenceBlock .card-author {
  background-color: #319CFF;
  color: #fff;
}
.cardCompetenceBlock .price-mentor {
  color: #319CFF;
}
.cardCompetenceBlock .price-author {
  color: #fff;
}

.trajectolorsTitle {
  text-align: center;
  font-size: calc(32px + 1.6666666667vw);
  font-family: raleway-semibold;
  margin: 0 auto 56px;
}

.authorTitle {
  margin: 0 0 16px;
  font-size: 20px;
  font-family: raleway-semibold;
}

.cardsBlock {
  display: flex;
  margin-bottom: 40px;
}

.cardTrajectolog {
  position: relative;
  border-radius: 32px;
  margin-right: 16px;
  max-width: 320px;
}
.cardTrajectolog .cardTrajectolog__item {
  padding: 8px 16px;
}
.cardTrajectolog .cardTrajectolog__block {
  display: flex;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: #F5F5F6;
  margin-bottom: -15px;
  flex-direction: column;
  padding: 8px 16px 20px;
  z-index: 2;
  align-items: flex-start;
}
.cardTrajectolog .cardTrajectolog__block-imageMobile {
  display: none;
}

.cardTrajectolog__block-title {
  font-size: 16px;
  font-family: raleway-semibold;
  margin: 0 0 5px;
}

.cardTrajectolog__block-author {
  font-family: raleway-semibold;
  color: #fff;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  background-color: #319CFF;
  margin: 0;
}

.cardTrajectolog__block-mentor {
  font-family: raleway-semibold;
  color: #319CFF;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  background-color: #E4F2FF;
  margin: 0;
}

.cardTrajectolog__block-normal {
  font-family: raleway-semibold;
  color: #319CFF;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  border: 1px solid #9A9AA0;
  margin: 0;
}

.trajectologDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardTrajectolog__description {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 16px;
}

.cardHead__image {
  width: 100%;
  height: 250px;
  margin-bottom: -25px;
  border-radius: 16px;
}

.image-author {
  background: url("../images/imgLanding/image-main/cards/image-author.png") no-repeat;
  background-size: cover;
}

.image-pavel {
  background: url("../images/imgLanding/image-trajectologs/pavel.png") no-repeat;
  background-size: cover;
}

.image-katerina {
  background: url("../images/imgLanding/image-trajectologs/katerina.png") no-repeat;
  background-size: cover;
}

.image-julia {
  background: url("../images/imgLanding/image-trajectologs/julia.png") no-repeat;
  background-size: cover;
}

.image-katerinaYoung {
  background: url("../images/imgLanding/image-trajectologs/katerina(yong).png") no-repeat;
  background-size: cover;
}

.cardTrajectolog__achievements-title {
  font-family: raleway-semibold;
  font-size: 12px;
  color: #9A9AA0;
  margin: 0;
}

.cardTrajectolog__achievements-num {
  font-family: raleway-bold;
  font-size: 20px;
  color: #319CFF;
}

.cardTrajectolog__achievements-desc {
  margin: 0;
  font-size: 14px;
  font-family: raleway-medium;
}

.cardTrajectolog__description-next {
  margin: 0;
  font-family: raleway-semibold;
  font-size: 14px;
  border: none;
  background-color: #fff;
  color: #319CFF;
}

.cardTrajectolog__description__block {
  margin-bottom: 10px;
}

.raitingText {
  font-family: raleway-bold;
  font-size: 12px;
}

.raitingText-span {
  color: #9A9AA0;
  font-family: raleway-medium;
}

.achievements-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  border-radius: 24px;
  background-color: #fff;
}
.achievements-modal .trajectologTitle-modal {
  margin: 0;
  font-size: calc(24px + 0.5555555556vw);
  line-height: 30px;
  font-family: raleway-medium;
  margin-bottom: 32px;
}
.achievements-modal .head-modal {
  display: flex;
  padding-bottom: 24px;
}
.achievements-modal .blockHead-modal {
  padding: 16px;
}
.achievements-modal .titleTrajectolog-modal {
  font-size: calc(20px + 0.2777777778vw);
  font-family: raleway-semibold;
  margin: 0;
}
.achievements-modal .achievementsBlock__sumTrajectory-titleModal {
  font-family: raleway-medium;
  font-size: 12px;
  color: #53535E;
}
.achievements-modal .achievementsBlock__sumTrajectory-numModal {
  font-family: raleway-semibold;
  color: #57AEFF;
  font-size: calc(24px + 0.5555555556vw);
  margin: 0;
}
.achievements-modal .blockTrajectolog-modal {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.achievements-modal .achievementsItem-modal {
  display: flex;
}
.achievements-modal .achievementsBlock-modal {
  margin-right: 16px;
}
.achievements-modal .workExperience {
  border-top: 1px solid #E0E0E5;
  padding-top: 24px;
}
.achievements-modal .workExperience__title {
  font-size: 16px;
  font-family: raleway-bold;
}
.achievements-modal .workExperience__text {
  font-size: 14px;
  font-family: raleway-medium;
}
.achievements-modal .workExperience__list {
  padding: 0;
  list-style-type: none;
}
.achievements-modal .workExperience__item {
  display: flex;
  align-items: flex-start;
}
.achievements-modal .workExperience__image {
  margin-right: 8px;
}
.achievements-modal .price-modal {
  font-family: raleway-semibold;
  font-size: 14px;
  color: #9A9AA0;
}
.achievements-modal .createTrajectory-modal {
  font-family: raleway-medium;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 10px 16px;
  background-color: #319CFF;
  color: #fff;
  margin-bottom: 10px;
}
.achievements-modal .comment-modal {
  font-family: raleway-semibold;
  font-size: 16px;
  color: #0F0F1A;
}
.achievements-modal .formComment-modal {
  width: 100%;
  margin-bottom: 20px;
}
.achievements-modal .inputComment-modal {
  width: 95%;
  padding: 16px;
  border: 1px solid #9A9AA0;
  border-radius: 16px;
  outline: none;
  color: #9A9AA0;
  font-size: 16px;
  font-family: raleway-medium;
}
.achievements-modal .commentModule__name {
  font-size: 14px;
  line-height: 22px;
  font-family: raleway-semibold;
}
.achievements-modal .commentModule__textComment {
  font-family: raleway-medium;
  font-size: 14px;
  line-height: 20px;
}
.achievements-modal .commentModule__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.achievements-modal .commentModule__item {
  padding: 12px 16px;
  background-color: #F5F5F6;
  border-radius: 16px;
  margin-bottom: 20px;
}
.achievements-modal .commentModule__block {
  display: flex;
  justify-content: space-between;
}
.achievements-modal .loadMore {
  margin: 0 auto;
  padding: 10px 16px;
  border-radius: 100px;
  background-color: #F2F9FF;
  color: #319CFF;
  font-size: 16px;
  font-family: raleway-semibold;
  border: none;
}
.achievements-modal .mentorTrajectolog {
  font-family: raleway-semibold;
  color: #319CFF;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  background-color: #E4F2FF;
  margin: 0;
}

.blockComment-modal {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 24px 16px;
}
.blockComment-modal .titleComment-modal {
  margin-bottom: 20px !important;
  font-size: 24px;
  font-family: raleway-medium;
  margin: 0 auto;
  text-align: center;
}
.blockComment-modal .commentImage-modal {
  border-radius: 100px;
}
.blockComment-modal .headComment-modal {
  text-align: center;
  font-size: 24px;
  font-family: raleway-medium;
}
.blockComment-modal .commentRaitingText-modal {
  margin: 0;
}
.blockComment-modal .competitionComment-modal {
  font-size: 12px;
  color: #9A9AA0;
}
.blockComment-modal .commentRaitingBlock-modal {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.blockComment-modal .textComment-modal {
  padding-top: 16px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: raleway-medium;
  border-top: 1px solid #E0E0E6;
}

.authorAchievements {
  padding: 24px;
  border-radius: 24px;
  background-color: #fff;
}
.authorAchievements p {
  margin: 0;
}
.authorAchievements .titleAuthor {
  font-size: 24px;
  margin: 0;
  font-family: raleway-semibold;
}
.authorAchievements .blockAuthor {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.authorAchievements .achievementsItem {
  display: flex;
}
.authorAchievements .mainAuthorBlock__item__text {
  color: #53535E;
  font-family: raleway-medium;
}
.authorAchievements .achievementsBlock__sumTrajectory-num {
  color: #319CFF;
  font-size: 32px;
  font-family: raleway-bold;
}
.authorAchievements .achievementsBlock {
  margin-right: 16px;
}
.authorAchievements .achievementsBlock__sumTrajectory-title {
  font-family: raleway-medium;
  font-size: 14px;
  margin-bottom: 15px;
}
.authorAchievements .mainAuthorBlock__title {
  font-family: raleway-medium;
  margin: 0;
  color: #9A9AA0;
  font-size: 14px;
}
.authorAchievements .mainAuthorBlock__text {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: raleway-medium;
  font-size: 14px;
}
.authorAchievements .founderDesc__title {
  font-family: raleway-medium;
  margin: 0;
  margin-bottom: 5px;
  color: #9A9AA0;
  font-size: 14px;
}
.authorAchievements .patentInfo__title {
  font-family: raleway-medium;
  margin: 0;
  margin-bottom: 5px;
  color: #9A9AA0;
  font-size: 14px;
}
.authorAchievements .patentInfo__patent {
  font-family: raleway-medium;
  font-size: 16px;
}
.authorAchievements .createTrajectory {
  font-family: raleway-medium;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 10px 16px;
  background-color: #319CFF;
  color: #fff;
}
.authorAchievements .patentInfo {
  margin-bottom: 24px;
}
.authorAchievements .treeBack {
  position: absolute;
  top: 0;
}

.trajectologShtat__title {
  font-size: 20px;
  font-family: raleway-bold;
  margin: 0 0 16px;
}

.trajectologsMentors {
  margin-bottom: 40px;
}

.comment {
  margin-bottom: 120px;
}
.comment .commentTitle {
  font-family: raleway-medium;
  font-size: 56px;
  margin: 0 auto 30px;
  text-align: center;
}
.comment .commentBlock__image {
  border-radius: 70px;
}
.comment .commentBlock__nameAuthor {
  margin: 0 0 8px;
  font-family: raleway-semibold;
  font-size: 20px;
}
.comment .commentBlock__jobPosition {
  margin: 0 0 8px;
  color: #9A9AA0;
  font-size: 14px;
}
.comment .commentBlock__comment {
  max-width: 305px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 24px;
  font-family: raleway-medium;
}
.comment .commentBlock__readMore {
  background-color: #fff;
  border: none;
  color: #319CFF;
  font-size: 14px;
  font-family: raleway-semibold;
}
.comment .commentBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 72px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.04);
  border-radius: 500px;
  border: 2px solid;
  border-image-source: conic-gradient(from 10.65deg at 50% 50%, #FF7171 0deg, rgba(255, 113, 113, 0) 116.25deg, rgba(255, 113, 113, 0) 360deg);
}
.comment .starBlock {
  display: flex;
  margin-bottom: 8px;
}

.itemCompany {
  position: absolute;
  height: 135px;
}

.roadMap {
  position: relative;
  margin-bottom: 120px;
}
.roadMap .roadTitle {
  font-size: 56px;
  font-family: raleway-semibold;
  text-align: center;
  margin: 0 auto 98px;
}
.roadMap .swiperMap {
  display: none;
}
.roadMap .imgContent-way {
  display: none;
}
.roadMap .trajectoryDown__blockImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}
.roadMap .trajectoryDown__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-right: 128px;
}
.roadMap .trajectoryDown__item:first-child {
  margin-left: 37px;
}
.roadMap .trajectoryDown__item:nth-child(2) {
  margin-right: 232px;
}
.roadMap .trajectoryDown__item:last-child .trajectoryDown__num {
  color: #319CFF;
}
.roadMap .trajectoryDown__item:last-child .trajectoryDown__textBlock {
  border-top: 3px solid #319CFF;
}
.roadMap .trajectoryDown__num {
  font-family: raleway-semibold;
  font-size: 16px;
  color: #FF9A9A;
}
.roadMap .trajectoryDown__textBlock {
  box-shadow: 0 16px 70px rgba(0, 0, 0, 0.08);
  border-radius: 8px 8px 24px 24px;
  border-top: 3px solid #FF9A9A;
  padding: 16px;
  min-height: 90px;
  min-width: 226px;
}
.roadMap .trajectoryDown__text {
  max-width: 195px;
  font-family: raleway-semibold;
  font-size: 14px;
  margin: 0;
}
.roadMap .trajectoryDown__num {
  margin: 0 0 11px;
}
.roadMap .trajectoryDown__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -50px;
}
.roadMap .trajectoryUp__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 -53px;
  justify-content: space-around;
}
.roadMap .trajectoryUp__blockImage {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}
.roadMap .trajectoryUp__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.roadMap .trajectoryUp__textBlock {
  box-shadow: 0 16px 70px rgba(0, 0, 0, 0.08);
  border-radius: 8px 8px 24px 24px;
  border-top: 3px solid #FF9A9A;
  padding: 16px;
  min-height: 90px;
}
.roadMap .trajectoryUp__item:last-child {
  margin-left: 450px;
}
.roadMap .trajectoryUp__item:last-child .trajectoryUp__textBlock {
  border-top: 3px solid #319CFF;
}
.roadMap .trajectoryUp__item:last-child .trajectoryUp__num {
  color: #319CFF;
}
.roadMap .trajectoryMiddle__textBlock {
  padding: 16px;
  background-color: #319CFF;
  border-radius: 32px;
  color: #fff;
}
.roadMap .trajectoryMiddle__num {
  font-family: raleway-semibold;
  font-size: 16px;
  margin: 0;
  color: #319CFF;
}
.roadMap .trajectoryUp__text {
  max-width: 195px;
  font-family: raleway-semibold;
  font-size: 14px;
  margin: 0;
}
.roadMap .trajectoryMiddle__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.roadMap .trajectoryMiddle__item:nth-child(2) {
  position: absolute;
  top: 77px;
}
.roadMap .trajectoryMiddle__item:nth-child(2) .trajectoryMiddle__textBlock {
  height: 170px;
}
.roadMap .trajectoryMiddle__block {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.roadMap .bigRound {
  background-color: #319CFF;
  border-radius: 32px;
}
.roadMap .trajectoryMiddle__title {
  margin: 0;
  font-size: 16px;
  padding-bottom: 8px;
  font-family: raleway-bold;
  border-bottom: 1px solid #57AEFF;
}
.roadMap .trajectoryMiddle__company {
  margin: 0;
  font-family: raleway-bold;
  font-size: 30px;
}
.roadMap .trajectoryUp__num {
  font-family: raleway-semibold;
  font-size: 16px;
  color: #FF9A9A;
}
.roadMap .blockArrow {
  position: relative;
}
.roadMap .arrowEnd {
  position: absolute;
  top: -15px;
  right: -29px;
}

.questionSection {
  margin-bottom: 120px;
}
.questionSection .questionBlock {
  display: flex;
  background-color: #F2F9FF;
  border-radius: 32px;
  justify-content: space-between;
  padding: 34px 104px 34px 72px;
  background-image: url("../images/imgLanding/image-background/tree-question.svg");
  background-position: left;
  background-repeat: no-repeat;
}
.questionSection .questionTitle {
  margin: 0 0 8px;
  font-family: raleway-semibold;
  font-size: calc(32px + 0.5555555556vw);
}
.questionSection .questionText {
  font-family: raleway-medium;
  font-size: 16px;
  margin: 0;
}
.questionSection .questionForm {
  display: flex;
  flex-direction: column;
  width: 513px;
}
.questionSection .questionForm__input {
  outline: none;
  border: none;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 12px;
}
.questionSection .questionForm__button {
  font-family: raleway-semibold;
  font-size: 16px;
  padding: 16px;
  border: none;
  text-align: center;
  border-radius: 100px;
  color: #fff;
  background-color: #319CFF;
}
.questionSection .questionForm__input::placeholder {
  font-family: raleway-medium;
  color: #9A9AA0;
}
.questionSection .questionForm__input {
  font-family: raleway-medium;
  color: #9A9AA0;
}

.footer {
  background-color: #F5F5F6;
  padding: 24px 48px;
}
.footer .footer__list {
  display: flex;
  font-family: raleway-medium;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer__item__navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer__item__socialBlock {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding: 14px 17px;
  background-color: #E4F2FF;
  border-radius: 16px;
}
.footer .chareLink {
  font-size: 16px;
  margin: 0 10px 0 0;
}
.footer .linkSocial {
  margin-right: 20px;
}
.footer .linkSocial:last-child {
  margin-right: 0;
}
.footer .privacy {
  margin: 0;
  color: #9A9AA0;
  font-size: 12px;
}
.footer .footer__item:last-child {
  display: flex;
  flex-direction: column;
}
.footer .footer__item-logo {
  margin-bottom: 15px;
}
.footer .footer__item__socialBlock {
  margin-bottom: 24px;
}
.footer .footer__item__navItem {
  margin-right: 16px;
}
.footer .desktopItem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .footer__item__navItem:last-child {
  margin-right: 0;
}
.footer .footer__item__link {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.footer .footer__item-number {
  font-size: 16px;
  margin: 0 0 18px;
}
.footer .footer__item-mail {
  margin: 0 0 20px;
}
.footer .footer__item-link {
  text-decoration: none;
  color: #319CFF;
  font-size: 16px;
}
.footer .footer__item-nalog {
  font-size: 12px;
  margin: 0;
  color: #9A9AA0;
}
.footer .footer__item-share {
  margin-bottom: 18px;
}
.footer .footer__item-image {
  margin-right: 20px;
}
.footer .mobileItem {
  display: none;
}
.footer .nalog__mobile {
  display: none;
}

.bottom-wrapper {
  padding-bottom: 100px;
}

.desktop-disabled {
  display: none;
}

.imageWay-changeNext1 {
  position: relative;
  right: 55px;
}

.imageWay-changeNext2 {
  position: relative;
  right: 105px;
}

.imageWay-changeNext3 {
  position: relative;
  right: 55px;
}

.imageWay-changePrev {
  position: relative;
  left: 105px;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "raleway-bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "roboto-black";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?thnq0o");
  src: url("../fonts/icomoon.eot?thnq0o#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?thnq0o") format("truetype"), url("../fonts/icomoon.woff?thnq0o") format("woff"), url("../fonts/icomoon.svg?thnq0o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
  content: "\e900";
  color: #5656ff;
}

.icon-arrow-down:before {
  content: "\e901";
  color: #9a9aa0;
}

.icon-arrow-right:before {
  content: "\e902";
  color: #9a9aa0;
}

.icon-arrow-up:before {
  content: "\e903";
  color: #9a9aa0;
}

.icon-calendar:before {
  content: "\e904";
  color: #9a9aa0;
}

.icon-clock:before {
  content: "\e905";
  color: #9a9aa0;
}

.icon-close:before {
  content: "\e906";
  color: #9a9aa0;
}

.icon-edit:before {
  content: "\e907";
  color: #5656ff;
}

.icon-eye:before {
  content: "\e908";
  color: #9a9aa0;
}

.icon-info:before {
  content: "\e909";
  color: #9a9aa0;
}

.icon-out:before {
  content: "\e90a";
  color: #f00;
}

.icon-passHide:before {
  content: "\e90b";
  color: #9a9aa0;
}

.icon-phone:before {
  content: "\e90c";
  color: #5656ff;
  font-size: 17px;
}

.icon-success:before {
  content: "\e90d";
  color: #bfbfff;
}

.icon-telegram:before {
  content: "\e90e";
  color: #5656ff;
  font-size: 16px;
}

.icon-user:before {
  content: "\e90f";
  color: #9a9aa0;
  font-size: 18px;
}

.icon-whatsapp:before {
  content: "\e910";
  color: #5656ff;
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  .roadMap__Block {
    display: none;
  }

  .imgContent {
    overflow-x: scroll;
  }

  .treeSteps1 {
    display: none;
  }

  .treeSteps2 {
    display: none;
  }

  .statisticList {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 890px) {
  .buildTrajectory {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 675px) {
  .menu {
    display: none;
  }

  .mainTitle-mobile {
    margin-top: 55px !important;
  }

  .classVectorLeft {
    display: none;
  }

  .classVectorRight {
    display: none;
  }

  .header {
    margin: 0 auto;
    position: fixed;
    width: 95%;
    top: 0;
    left: 0;
    padding: 12px 13px;
    background-color: #ffffff;
    z-index: 10;
  }
  .header .hamburger-menu {
    display: flex;
  }
  .header .blockLogo {
    display: flex;
    align-items: center;
  }
  .header .logo {
    margin-left: 25px;
  }

  .mainTrajectory {
    flex-direction: column;
    padding: 8px;
  }
  .mainTrajectory .mainTrajectory__start {
    margin-bottom: 15px;
  }
  .mainTrajectory .mainTrajectory__review {
    display: flex;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid #E4F2FF;
    padding: 8px 10px;
    justify-content: space-between;
  }

  .trajectoryBlock__imgMain {
    width: 100%;
  }

  .trajectoryYear-rebirth {
    display: none;
  }

  .trajectoryYear-peak {
    display: none;
  }

  .statisticList {
    flex-direction: column;
    align-items: center;
  }

  .statisticItem__block {
    margin-right: 0;
    margin-top: -30px;
    width: 0 !important;
    height: 0 !important;
    max-width: 400px !important;
    min-width: 270px !important;
    max-height: 400px !important;
    min-height: 270px !important;
  }

  .statisticItem {
    border-right: 0 !important;
    padding: 2px;
  }

  .statisticItem:last-child .statisticInfo {
    border-bottom: 0;
  }

  .backImg2 {
    position: absolute;
    top: 100% !important;
  }

  .stepsList {
    flex-direction: column;
    padding: 0 16px 0 16px !important;
  }

  .stepsText {
    margin-bottom: 48px !important;
    padding: 18px;
  }

  .stepsItem__numberBlock {
    background-image: url("../images/imgLanding/image-main/tree-left.png");
    background-position: left;
    background-size: cover;
  }

  .stepsItem {
    position: relative;
    margin-right: 0;
    margin-bottom: 40px !important;
  }

  .stepsItem:first-child {
    margin-right: 0 !important;
  }

  .stepsItem:nth-child(even) {
    margin-top: 0px !important;
  }

  .treeSteps1 {
    display: none;
  }

  .treeSteps2 {
    display: none;
  }

  .stepsItem__imageTree {
    display: block !important;
    position: absolute;
    left: -19px;
    bottom: 151px;
    z-index: -1;
  }

  .stepsItem__number {
    position: absolute;
    top: -14px;
    left: 0;
    background-color: #FF9A9A !important;
  }

  .readWay-mobile {
    display: block !important;
    color: #319CFF;
    font-size: 14px;
    font-family: raleway-semibold;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .image-pavel {
    display: none;
  }

  .image-katerina {
    display: none;
  }

  .image-julia {
    display: none;
  }

  .image-katerinaYoung {
    display: none;
  }

  .cardTrajectolog {
    margin-right: 0 !important;
    max-width: 70% !important;
  }

  .buildTrajectory {
    flex-direction: column-reverse;
    padding: 0 !important;
    margin: 16px;
  }

  .competence {
    padding: 16px;
  }

  .statisticInfo {
    border-bottom: 1px solid #E0E0E5;
  }

  .competenceSpecialist {
    font-size: 16px !important;
  }

  .cardTrajectolog__block-imageMobile {
    display: block !important;
    border-radius: 100px;
    margin-right: 5px;
    width: 55px;
    height: 55px;
  }

  .cardTrajectolog__block {
    flex-direction: row !important;
  }

  .descriptionTrajectory {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .trajectoryWay {
    display: none !important;
  }

  .trajectoryImage__mobile {
    display: block !important;
    width: 100%;
  }

  .descriptionTrajectory__button {
    padding: 12px 32px !important;
  }

  .stepsSection {
    margin-bottom: 64px !important;
  }

  .founderBlock {
    flex-direction: column;
    padding: 16px;
  }

  .cardTrajectolog-author {
    max-width: 100% !important;
  }

  .statBlock {
    padding: 16px;
  }

  .founderImage {
    margin-bottom: 15px;
  }

  .imageYear {
    width: 100%;
  }

  .statisticSecond {
    flex-direction: column;
    padding: 7px !important;
  }

  .founderCard {
    background-color: #F5F5F6 !important;
    margin-left: 0 !important;
    box-shadow: none !important;
  }

  .desktopTitle {
    display: none;
  }

  .authorAchievements {
    display: none;
  }

  .questionBlock {
    flex-direction: column;
    padding: 18px 14px !important;
    margin: 15px;
  }

  .questionText-block {
    text-align: center;
    margin-bottom: 10px;
  }

  .cardsBlock {
    justify-content: center;
  }

  .questionForm {
    width: 100% !important;
  }

  .disabled {
    display: none !important;
  }

  .desktop-disabled {
    display: block !important;
  }

  .cardTrajectolog__author {
    display: flex;
    flex-direction: column !important;
  }

  .footer__list {
    flex-direction: column;
  }

  .order1 {
    order: 2;
  }

  .desktopItem {
    display: none !important;
  }

  .mobileItem {
    display: flex !important;
    flex-direction: column;
  }

  .roadMap {
    display: block;
  }

  .trajectoryRed {
    border-top: 3px solid #FF9A9A !important;
  }

  .commentBlock {
    padding: 25px !important;
  }

  .trajectoryDown__item:first-child {
    margin-left: 0;
  }

  .roadMap__Block-image {
    padding: 35px;
  }

  .trajectoryDown__item {
    margin-top: -77px;
  }

  .blockSince {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -84px;
  }

  .trajectoryMiddle__textBlock {
    width: 272px;
    margin-right: 78px !important;
  }

  .trajectoryNumRed {
    color: #FF9A9A !important;
  }

  .trajectoryNumBlue {
    color: #319CFF !important;
    margin-bottom: 10px;
  }

  .mobileItem__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px 16px;
  }
  .footer .footer__item__navList {
    justify-content: center !important;
    margin-bottom: 20px !important;
  }
  .footer .footer__item__socialBlock {
    display: flex;
    margin: 0;
    padding: 14px 17px;
    background-color: #E4F2FF;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .chareLink {
    margin: 0 0 10px !important;
  }
  .footer .footer__item-share {
    margin-bottom: 0 !important;
  }
  .footer .footer__item-logo {
    display: none;
  }

  .head-modal {
    flex-direction: column;
  }

  .imageHead-modal {
    margin: auto;
    width: 90%;
    border-radius: 180px;
  }

  .achievementsBlock-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #C1E1FF;
  }

  .achievementsBlock-modal:last-child {
    border-right: 0;
  }

  .createTrajectory-modal {
    width: 100%;
  }

  .achievementsBlock__sumTrajectory-titleModal {
    text-align: center;
  }

  .blockHead-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .achievementsItem-modal {
    border-radius: 16px;
    background-color: #F2F9FF;
  }

  .trajectologTitle-modal {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }

  .nalog__mobile {
    display: block !important;
    margin: 0;
    color: #9A9AA0;
    font-size: 12px;
    font-family: raleway-medium;
    text-align: center;
  }

  .privacy {
    text-align: center;
    margin-bottom: 20px !important;
  }

  .footer__item-number {
    font-size: 12px !important;
    margin-bottom: 8px !important;
  }

  .footer__item:last-child {
    justify-content: center;
  }

  .footer__item-link {
    font-size: 12px !important;
  }
}
@media (max-width: 600px) {
  .competenceCard {
    margin-right: 89px !important;
  }
}

/*# sourceMappingURL=styleLanding.css.map */
