.container {
  max-width: 1440px;
  margin: 0 auto;
}

.classBorder {
  border-bottom: 1px solid #F5F5F6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px 16px 40px;

  .menu__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu__item {
    margin-right: 24px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .account {
    background-color: #319CFF;
    color: #fff;
    padding: 9px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: raleway-semibold;
  }

  .menu__link {
    font-size: 16px;
    font-family: raleway-medium;
    text-decoration: none;
    color: #000;
  }
}

.buildTrajectory {
  .mainTitle {
    text-align: center;
    font-size: 166px;
    font-family: raleway-medium;
    margin: 0;
    position: relative;
    padding-bottom: 120px;
  }

  .mainText {
    margin: 0 auto;
    font-family: raleway-medium;
    font-size: 15px;
    max-width: 900px;
    margin-bottom: 40px;
  }

  .trajectoryAbsolute {
    display: block;
    position: relative;
    padding-bottom: 140px;

    .mainTrajectory {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;

      .mainTrajectory__review {
        display: flex;
        background-color: #fff;
        border-radius: 100px;
        border: 1px solid #E4F2FF;
        padding: 8px 10px;
      }

      .mainTrajectory__block {
        display: flex;
        align-items: center;
        margin-right: 8px;
      }

      .mainTrajectory__start {
        background-color: #319CFF;
        font-family: Raleway-Medium;
        border-radius: 100px;
        color: #fff;
        border: none;
        padding: 20px 32px;
        margin-right: 16px;
      }

      .mainTrajectory__play {
        background-color: #fff;
        border: none;
      }

      .mainTrajectory__title {
        color: #319CFF;
        font-family: raleway-semibold;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 3px;

      }

      .mainTrajectory__text {
        color: #319CFF;
        font-family: raleway;
        font-size: 12px;
        margin: 0;
      }

    }

    .backImg1 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .backImg2 {
      position: absolute;
      top: 35%;
      z-index: -2;
    }

  }

  .trajectoryBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.statisticTitle {
  text-align: center;
  font-size: 56px;
  font-family: Raleway-Medium;
  margin-top: 0;
  mask-border: none;
}

.statisticText {
  margin: 0 auto;
  max-width: 895px;
  text-align: center;
  font-family: raleway;
  font-size: 16px;
  padding-bottom: 65px;
}

.statisticList {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.statisticItem__text {
  max-width: 250px;
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid #E0E0E5;
  font-family: Raleway-Medium;
  font-size: 14px;
  text-align: center;
}

.statisticItem__block {
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  display: flex;
  margin-right: -30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 40px 100px rgba(0, 0, 0, 0.04));
}

.statisticItem__block:nth-child(2) {
  z-index: 1;
}

.statisticItem__block:nth-child(3) {
  z-index: 3;
}

.statisticItem__num {
  font-size: 56px;
  font-family: raleway-bold;
  margin: 0;
  padding-bottom: 10px;
  background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.businessTitle {
  text-align: center;
  font-family: raleway-semibold;
  font-size: 56px;
}

.businessText {
  margin: 0 auto;
  max-width: 850px;
  font-family: raleway-medium;
  font-size: 16px;
}

.slideBlock {
  display: flex;
  justify-content: space-between;
}

.imgStarsWay {
  width: 100%;
  object-fit: cover;
  height: 456px;
  margin-bottom: 120px;
}

.stepsSection {
  margin-bottom: 120px;

  .stepsTitle {
    text-align: center;
    font-family: raleway-semibold;
    font-size: 66px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .stepsText {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 165px;
    font-family: raleway-medium;
    font-size: 16px;
  }

  .stepsList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .stepsItem {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 16px;
    z-index: 2;

    background-color: #F5F5F6;
    margin-bottom: 150px;

    .stepsItem__title {
      font-family: raleway-medium;
      color: #319CFF;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    .stepsItem__list {
      padding: 0;
      margin: 0;
      list-style-type: disc;
      margin-left: 30px;
    }

    .stepsItem__item {
      font-size: 14px;
      max-width: 650px;
      font-family: raleway-medium;
    }

    .stepsItem__block {
      justify-content: flex-start;
    }

    .stepsItem__number {
      background-color: #ACD7FF;
      border-radius: 30px;
      text-align: center;
      vertical-align: bottom;
      margin: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #fff;
      font-size: 16px;
      font-family: raleway-semibold;

    }
  }

  .stepsItem:first-child {
    margin-right: 60px;
  }

  .treeSteps1 {
    position: absolute;
    top: -20%;
    right: 40%;
    left: 47%;
    z-index: -1;
  }

  .treeSteps2 {
    position: absolute;
    top: 30%;
    right: 40%;
    left: 47%;
    z-index: -1;
  }

  .rel {
    position: relative;
  }

  .stepsItem:nth-child(even) {
    margin-top: 20px;
    max-width: 650px;
    padding: 10px;

    .stepsItem__number:nth-child(even) {
      background-color: black;
    }
  }

  .stepsItem__block:nth-child(even) {
    margin-left: 12px;
  }

  .buildTrajectory {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 16px;
    padding-left: 48px;
  }

  .descriptionTrajectory__title {
    font-size: 24px;
    color: #319CFF;
    font-family: raleway;
  }

  .descriptionTrajectory__text {
    font-family: raleway;
    font-size: 14px;
  }

  .descriptionTrajectory {
    height: 230px;
  }

  .descriptionTrajectory__button {
    background-color: #319CFF;
    font-family: Raleway-Medium;
    border-radius: 100px;
    color: #fff;
    border: none;
    padding: 20px 32px;
    margin-right: 16px;
  }

  .trajectoryWay {
    position: relative;

    .yearsList {
      list-style-type: none;

      .yearsItem__block1 {

      }

      .block1 {
        position: absolute;
        top: 0;
        bottom: 0;
      }

      .arrow1 {
        position: absolute;
        top: 0px;
        left: 80px;
      }

      .block2 {
        position: absolute;
        top: 0;
        bottom: 0;
      }

      .block3 {
        position: absolute;
        top: 0;
        bottom: 0;
      }

      .yearsItem__round {
        position: absolute;
        top: 32%;
        left: 80%;
      }


      .yearsItem__multiBlock {

      }

      .yearsItem__block {
        background-color: #fff;
        border-radius: 16px;
      }
    }


  }
}

.historyTrajectory {
  .historyTitle {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-family: raleway-bold;
    font-size: 56px;
    max-width: 920px;
  }

  .founderBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .founderImage {
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    height: 90%;
  }

  .founderCard {
    background-color: #fff;
    border-radius: 20px;
    opacity: 0.95;
    padding: 16px;
    max-width: 340px;
    height: 90%;
    margin-left: -200px;
    z-index: 1;
    box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.08);

    .founderName {
      color: #319CFF;
      font-size: 28px;
      font-family: raleway-semibold;
      margin: 0;
    }

    .founderDesc {
      margin-bottom: 13px;
    }

    .founderDesc__title {
      margin: 0;
      color: #9A9AA0;
      font-size: 14px;
    }

    .approachMotivation__text {
      margin-top: 5px;
      margin-bottom: 0;
      font-family: raleway;
      font-size: 14px;
    }

    .approachMotivation__item__text {
      color: #9A9AA0;
      margin: 0;
    }

    .authorBook {
      color: #319CFF;
      text-decoration: none;
    }

    .founderDesc__info {
      margin: 0;
      color: #319CFF;
      font-family: raleway-medium;
      font-size: 20px;
    }

    .founderDesc__patent {
      font-family: raleway;
      font-size: 16px;
      margin: 0;
    }
  }


  .statBlock {

    .statisticSecond {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      box-shadow: 0 32px 70px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
    }

    .statisticItem {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #E0E0E5;
      padding: 2px;
    }

    .statisticItem:last-child {
      border-right: none;
    }

    .statisticInfo {
      display: flex;
      justify-content: center;
      flex-direction: row;
      max-width: 450px;
      padding: 46px 32px;
      align-items: center;
      align-content: flex-end;
      flex-wrap: wrap;
    }

    .statisticInfo__title {
      display: flex;
      align-items: flex-end;
    }

    .statisticInfo__num {
      font-family: raleway-bold;
      margin: 0;
      font-size: 60px;
      background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .statisticInfo__subtext {
      font-family: raleway-bold;
      margin: 0;
      font-size: 32px;
      background: linear-gradient(95.43deg, #FF4B4B 1.71%, #FFDDDD 156.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
    }

    .statisticInfo__text {
      text-align: center;
      //max-width: 230px;
    }
  }
}


.competence {
  border-radius: 40px;
  background-color: #E0E0E5;
  padding: 0 50px;
}

.competenceTitle {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 56px;
  font-family: raleway-semibold;
}

.competenceSpecialist {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 14px;
  font-family: raleway-medium;
}

.cardCompetenceBlock {
  display: flex;
  margin-bottom: 64px;


  .competenceCard {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 32px;
    padding: 24px;
    background-color: #fff;
    margin-right: 15px;
    max-width: 440px;

    .competenceItem__block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid #E0E0E5;

      .competenceItem__desc {
        color: #319CFF;
        margin: 0;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #C1E1FF;
        font-family: raleway-bold;
        font-size: 14px;

      }
      .competenceItem__desc-author {
        color: #fff;
        margin: 0;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #fff;
        font-family: raleway-bold;
        font-size: 14px;
      }


      .competenceItem__price {
        font-size: 56px;
        font-family: raleway-bold;
        margin: 0;
        margin-bottom: 20px;
      }

      .price-main {

      }
    }

    .jobsList {
      margin-top: 20px;
      padding: 0;
      margin-bottom: 46px;
    }

    .jobsItem {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
    }

    .jobsItem:last-child {
      margin-bottom: 0;
    }

    .jobsItem__image {
      margin-right: 6px;
    }

    .jobsItem__description {
      margin: 0;
      font-size: 14px;
      font-family: raleway;
    }
    .card-main {

    }


    .choiceTrajectolog {
      padding-top: 16px;
      padding-bottom: 16px;
      width: 100%;
      background-color: #F2F9FF;
      border: none;
      border-radius: 16px;
      font-size: 16px;
      font-family: raleway-semibold;
      color: #319CFF;
    }

    .card-mentor {
      background-color: #E4F2FF;
    }

    .card-author {
      background-color: #319CFF;
    }

    .textConsultation:nth-child(3) {
      color: #fff;
    }
    .textConsultation:first-child {
      color: #9A9AA0;
      font-size: 10px;
      font-family: raleway-semibold;
    }



  }
  .card-mentor {
    background-color: #E4F2FF;
  }

  .card-author {
    background-color: #319CFF;
    color: #fff;
  }

  .price-mentor {
   color: #319CFF;
  }

  .price-author {
    color: #fff;
  }


}
.trajectolorsTitle {
  text-align: center;
  margin: 0 auto;
  font-size: 56px;
  font-family: raleway-semibold;
  margin-bottom: 56px;
}
.authorTitle {
     margin: 0;
     font-size: 20px;
     font-family: raleway-semibold;
}

.cardsBlock {
  display: flex;
}

.cardTrajectolog {
  position: relative;
  max-width: 320px;
    border-radius: 32px;

  .cardTrajectolog__item {
    padding: 8px 16px;
  }

  .cardTrajectolog__block {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #F5F5F6;
    margin-bottom: -15px;
    flex-direction: column;
    padding: 8px 16px;
    padding-bottom: 20px;
    z-index: 2;
  }

  .cardTrajectolog__block-title {
    margin: 0;
  }

  .cardTrajectolog__block-author {
    margin: 0;
  }
  .cardTrajectolog__description {
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
  }

  .cardTrajectolog__item {

  }

  .cardAuthor__image {
    width: 100%;
    height: 250px;
    margin-bottom: -25px;
    border-radius: 16px;
    background: url("../images/imgLanding/image-main/cards/image-author.png");
  }

  .cardTrajectolog__achievements-title {

  }
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-medium';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
